# Exercise 4.6 TASK

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [3]:
#Step 3
path = r'C:\Users\nmiqu\Desktop\DATA\CareerFoundry\Data Analytics Immersion\April-2024 Instacart Baket Analysis\02 Data'
df_orders_products_combined = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_orders_products_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0.1            int64
 1   Unnamed: 0              int64
 2   order_id                int64
 3   user_id                 int64
 4   order_number            int64
 5   orders_day_of_week      int64
 6   hour_order_is_made      int64
 7   days_since_prior_order  float64
 8   product_id              int64
 9   add_to_cart_order       int64
 10  reordered               int64
 11  _merge                  category
dtypes: category(1), float64(1), int64(10)
memory usage: 2.7 GB

In [5]:
df_orders_products_combined['order_id'] = df_orders_products_combined['order_id'].astype('int32')
df_orders_products_combined['user_id'] = df_orders_products_combined['user_id'].astype('int32')
df_orders_products_combined['order_number'] = df_orders_products_combined['order_number'].astype('int32')
df_orders_products_combined['orders_day_of_week'] = df_orders_products_combined['orders_day_of_week'].astype('int32')
df_orders_products_combined['hour_order_is_made'] = df_orders_products_combined['hour_order_is_made'].astype('int32')
df_orders_products_combined['days_since_prior_order'] = df_orders_products_combined['days_since_prior_order'].astype('float32')
df_orders_products_combined['product_id'] = df_orders_products_combined['product_id'].astype('int32')
df_orders_products_combined['add_to_cart_order'] = df_orders_products_combined['add_to_cart_order'].astype('int32')
df_orders_products_combined['reordered'] = df_orders_products_combined['reordered'].astype('int32')

In [6]:
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['Unnamed: 0.1', 'Unnamed: 0', '_merge'])

In [7]:
#Step 4
df_orders_products_combined_1.shape

(32434489, 9)

In [8]:
# Step 5 -- I previously transformed the csv file to pickle because my computer was too slow
df_prods = pd.read_pickle(os.path.join(path, 'Prepared Data', 'products_clean_pickle.pkl'))

#### I think a suitable way of combining these two together would be merging it, since I want to include all columns into the new dataframe. I will use an outer join because this will let me have information on products that have not been ordered ever, which I believe can be useful information, and could be dropped later on if necessary.

In [9]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

In [10]:
df_prods['product_id'] = df_prods['product_id'].astype('int32')
df_prods['aisle_id'] = df_prods['aisle_id'].astype('int32')
df_prods['department_id'] = df_prods['department_id'].astype('int32')
df_prods['prices'] = df_prods['prices'].astype('float32')

In [11]:
df_prods_2 = df_prods.drop(columns =['Unnamed: 0'])

In [12]:
# Merging
df_merged = df_prods_2.merge(df_orders_products_combined_1, on = 'product_id', how = 'outer', indicator = True)

In [13]:
# Step 6
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_order_is_made,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both
1,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both
2,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both
3,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,7.0,10.0,0.0,both
4,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both

In [14]:
df_merged['_merge'].value_counts()

_merge
both          32404859
right_only       30200
left_only           11
Name: count, dtype: int64

In [15]:
# Step 7
df_merged.to_pickle(os.path.join(path, 'Prepared Data', 'ords_prods_merge.pkl'))

#### I exported the dataframe to a pickle format because of it's size, this way it will be faster to import next time.