# Exercise 4.8 TASK

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Import datasets
path = r'C:\Users\nmiqu\Desktop\DATA\CareerFoundry\Data Analytics Immersion\April-2024 Instacart Baket Analysis'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'ords_prods_merge_derived.pkl'))

In [4]:
df = ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 18)

In [9]:
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_order_is_made,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,busiest_day,busiest days,Busiest hours
0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Regular days,Most orders
1,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Regular days,Average orders
2,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,7.0,10.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Least busy,Slowest days,Average orders

In [10]:
df.groupby('product_name')

In [11]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.577493
2.0              17.320781
3.0              16.084944
4.0              17.530458
5.0              14.763075
6.0              16.658449
7.0              17.031590
8.0              15.076662
9.0              15.447580
10.0             18.681852
11.0             15.447411
12.0             14.327957
13.0             16.548642
14.0             16.960241
15.0             16.121948
16.0             17.803851
17.0             15.593633
18.0             19.674252
19.0             16.899756
20.0             16.255442
21.0             25.535479

In [12]:
df.groupby('department_id')['order_number'].mean()

department_id
1.0     15.577493
2.0     17.320781
3.0     16.084944
4.0     17.530458
5.0     14.763075
6.0     16.658449
7.0     17.031590
8.0     15.076662
9.0     15.447580
10.0    18.681852
11.0    15.447411
12.0    14.327957
13.0    16.548642
14.0    16.960241
15.0    16.121948
16.0    17.803851
17.0    15.593633
18.0    19.674252
19.0    16.899756
20.0    16.255442
21.0    25.535479
Name: order_number, dtype: float64

In [13]:
df.groupby('department_id').order_number.mean()

department_id
1.0     15.577493
2.0     17.320781
3.0     16.084944
4.0     17.530458
5.0     14.763075
6.0     16.658449
7.0     17.031590
8.0     15.076662
9.0     15.447580
10.0    18.681852
11.0    15.447411
12.0    14.327957
13.0    16.548642
14.0    16.960241
15.0    16.121948
16.0    17.803851
17.0    15.593633
18.0    19.674252
19.0    16.899756
20.0    16.255442
21.0    25.535479
Name: order_number, dtype: float64

In [14]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1.0              15.577493  1.0  99.0
2.0              17.320781  1.0  96.0
3.0              16.084944  1.0  99.0
4.0              17.530458  1.0  99.0
5.0              14.763075  1.0  99.0
6.0              16.658449  1.0  99.0
7.0              17.031590  1.0  99.0
8.0              15.076662  1.0  98.0
9.0              15.447580  1.0  99.0
10.0             18.681852  1.0  99.0
11.0             15.447411  1.0  99.0
12.0             14.327957  1.0  99.0
13.0             16.548642  1.0  99.0
14.0             16.960241  1.0  99.0
15.0             16.121948  1.0  99.0
16.0             17.803851  1.0  99.0
17.0             15.593633  1.0  99.0
18.0             19.674252  1.0  99.0
19.0             16.899756  1.0  99.0
20.0             16.255442  1.0  99.0
21.0             25.535479  1.0  98.0

In [21]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\nmiqu\AppData\Local\Temp\ipykernel_15364\1681540670.py:1: FutureWarning: The provided callable <function max at 0x000001C24B8153A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [24]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_order_is_made,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,busiest_day,busiest days,Busiest hours,max_order
0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Regular days,Most orders,32.0
1,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Regular days,Average orders,32.0
2,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest day,Busiest days,Average orders,5.0
3,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,7.0,10.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3.0
4,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Least busy,Slowest days,Average orders,3.0

In [28]:
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [26]:
ords_prods_merge.loc[(ords_prods_merge['max_order'] < 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [27]:
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [31]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15523858
Loyal customer      10294027
New customer         6249525
nan                   367660
Name: count, dtype: int64

In [34]:
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0     138.0  Regular customer          28.0
1     138.0  Regular customer          30.0
2     709.0      New customer           2.0
3     764.0      New customer           1.0
4     764.0      New customer           3.0
5     777.0  Regular customer          16.0
6     825.0      New customer           3.0
7     910.0  Regular customer          12.0
8    1052.0  Regular customer          10.0
9    1052.0  Regular customer          15.0
10   1379.0      New customer           1.0
11   1480.0    Loyal customer          36.0
12   1480.0    Loyal customer          38.0
13   1480.0    Loyal customer          39.0
14   1494.0  Regular customer           6.0
15   1494.0  Regular customer           7.0
16   1494.0  Regular customer           9.0
17   1540.0  Regular customer           4.0
18   1540.0  Regular customer           5.0
19   1540.0  Regular customer           6.0
20   1540.0  Regular customer           7.0
21   1540.0  Regular customer           8.0
22   1540.0  Regular customer           9.0
23   1540.0  Regular customer          14.0
24   1540.0  Regular customer          15.0
25   1540.0  Regular customer          18.0
26   1540.0  Regular customer          19.0
27   1540.0  Regular customer          20.0
28   1540.0  Regular customer          21.0
29   1540.0  Regular customer          22.0
30   1540.0  Regular customer          24.0
31   1540.0  Regular customer          25.0
32   1540.0  Regular customer          27.0
33   1540.0  Regular customer          28.0
34   1598.0      New customer           1.0
35   1598.0      New customer           2.0
36   1598.0      New customer           3.0
37   1647.0      New customer           1.0
38   1647.0      New customer           4.0
39   1647.0      New customer           6.0
40   1647.0      New customer           8.0
41   1647.0      New customer           9.0
42   2833.0      New customer           1.0
43   2850.0  Regular customer           7.0
44   2857.0  Regular customer          24.0
45   3010.0  Regular customer           5.0
46   3029.0      New customer           1.0
47   3395.0      New customer           4.0
48   3904.0      New customer           1.0
49   4006.0    Loyal customer           2.0
50   4006.0    Loyal customer           3.0
51   4006.0    Loyal customer           5.0
52   4006.0    Loyal customer           9.0
53   4006.0    Loyal customer          12.0
54   4122.0               nan          11.0
55   4141.0      New customer           2.0
56   4343.0      New customer           1.0
57   4553.0      New customer           3.0
58   4845.0  Regular customer           6.0
59   6866.0      New customer           1.0

In [49]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_order_is_made,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,busiest_day,busiest days,Busiest hours,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,28.0,6.0,11.0,3.0,5.0,0.0,both,Mid-range product,Regularly busy,Regular days,Most orders,32.0,Regular customer
1,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,30.0,6.0,17.0,20.0,1.0,1.0,both,Mid-range product,Regularly busy,Regular days,Average orders,32.0,Regular customer
2,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,2.0,0.0,21.0,6.0,20.0,0.0,both,Mid-range product,Busiest day,Busiest days,Average orders,5.0,New customer
3,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,1.0,3.0,13.0,7.0,10.0,0.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,3.0,New customer
4,1,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,3.0,4.0,17.0,9.0,11.0,1.0,both,Mid-range product,Least busy,Slowest days,Average orders,3.0,New customer